#blue {
    color:blue;
    font-size: 36px;
}

#green {
    background-color: green;
    font-size: 24px;
    font-weight: 700;
}

.odd {
    background-color: rgb(255, 167, 167);
    font-family: Veranda, "DejaVu Sans", sans-serif;
}

.oddly-cool {
    font-size: 24px;
}